
body { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

.titleCalculator {
  top: 0px;
  text-align: center;
}

.buttonCalculate{
  height: 50px;
  width: 200px;
  margin-top: 30px;
  margin-left: 43%;
  padding: 10px 20px;
  background: linear-gradient(to right, #e0290d, #e23f13 33.33%, #e54215 33.33%, #e04725 66.66%, #e34c1e 66.66%, #e95924); 
  border-radius: 8px;
  color: #ffff;
  font-size: 18px;
}


.calculatorDivAgeGender, .calculatorDivWeightHeight{
  display: inline-block;
  height: 200px;
  width: 40%;
  vertical-align: top; 
  box-shadow: 0px 3px 13px 1px rgb(0 0 0 /9%); 
  font-size: 20px;
  text-align: center;
  margin-left: 100px;
  margin-top: 50px;
}

.selectGen {
  height: 50px;
  width: 200px;
  margin: 10px;
  background: linear-gradient(to right, #8a8e9e, #737189 33.33%, #737589 33.33%, #6b6d7d 66.66%, #686d79 66.66%, #565760);
  border-radius: 8px;
  box-shadow: 0px 3px 13px 1px rgb(0 0 0 /9%);
  color: #ffff;
  margin-top: 5px;
  margin-left: 40px;
}

input {
  height: 40px;
  width: 75px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: transparent;
}

label {
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.2s ease-out;
}

.information {
  position: relative; 
  top: 14px;
  font-size: 30px;
}

p {
  position: relative;
  top: 15px;
  height: auto;
  width: 50%;
}

.information, .description { 
  padding-left: 9%;
}


.buttonCalculate:active {
  background:#2b2a2a;
}

.calculator {
  position:relative;
  top: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.menu {
  position: relative;
  width: 1350px;
  height: auto;
  background-color: #B8B8B8;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  transform: translateY(13%);
  gap: 180px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 8px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #ddd;
}

.ImgMenu {
  position: absolute;
  top:0;
  height: 45px;
  width: 60px;
  z-index: 1;
}

.Questions { 
  position: relative;
  text-align:center;
  left:120px;
  top:80px;
  width:1000px;
  height:550px;
  box-shadow:0px 3px 13px 1px rgb(0 0 0 /9%);
}

.Answer {
 position: relative;
 left: 250px;
} 
.result {
  position: relative;
  text-align: center;
}

.imc {
  position: relative;
  left:30%;
  display: flex;
  gap: 50%;
  background-color: #C8CBCB;
  width: 40%;
  border-radius: 8px;
}

.ImgNavHome { 
  position: relative;
  width: 100px;
  left: 23%;

}

.ImgGit { 
  position: relative;
  width: 70px;
  left: 40%;
}

.Nav {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
}

