
body { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titleCalculator {
  text-align: center;
}

.buttonCalculate{
  height: 50px;
  width: 200px;
  margin-top: 30px;
  margin-left: 43%;
  padding: 10px 20px;
  background: linear-gradient(to right, #e0290d, #e23f13 33.33%, #e54215 33.33%, #e04725 66.66%, #e34c1e 66.66%, #e95924); 
  border-radius: 8px;
  color: #ffff;
  font-size: 18px;
}


.calculatorDivAgeGender, .calculatorDivWeightHeight{
  display: inline-block;
  height: 200px;
  width: 40%;
  vertical-align: top; 
  box-shadow: 0px 3px 13px 1px rgb(0 0 0 /9%); 
  font-size: 20px;
  text-align: center;
  margin-left: 100px;
  margin-top: 50px;
}

.selectGen {
  height: 50px;
  width: 200px;
  margin: 10px;
  background: linear-gradient(to right, #8a8e9e, #737189 33.33%, #737589 33.33%, #6b6d7d 66.66%, #686d79 66.66%, #565760);
  border-radius: 8px;
  box-shadow: 0px 3px 13px 1px rgb(0 0 0 /9%);
  color: #ffff;
  margin-top: 5px;
  margin-left: 40px;
}

input {
  height: 40px;
  width: 75px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: transparent;
}

label {
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.2s ease-out;
}

.imgMan {
  position: absolute;
  height: 80px;
  width: 90px;
  top: 150px;
  left: 280px;
}

.imgWoman {
  position: absolute;
  height: 80px;
  width: 90px;
  top: 150px;
  left: 420px;
}

.information {
  font-size: 30px;
  position: relative;
  top:80%;  
}

p {
  height: auto;
  width: 50%;
}

.information, .description, .List { 
  padding-left: 9%;
}


.buttonCalculate:active {
  background:#2b2a2a;
}

.Nav {
  position: absolute;
  width: 100%;
  height: 8%;
  box-shadow: 0px 3px 1px rgb(0 0 0 /9%);
}

.ImgNavHome {
  width: 120px;
  height: 50px;
  position: absolute;
  left:46%;
}

.ImgGit {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 90%;
  top: 0px;
}

.calculator {
  position:relative;
  top: 80px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.menu {
  position: absolute;
  width: 300px;
  height: auto;
  top: 30px; /* Ajusta según sea necesario */
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 8px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #ddd;
}

.ImgMenu {
  position: relative;
  height: 45px;
  width: 60px;
  left: 50%;
}